$charcoal: #1F2421;
$azul: #216869;
$green: #49A078;
$lime: #9CC5A1;
$gainsboro: #DCE1DE;


$dark-gray: #333;
$dim-gray: #767676;
$dingy-albatross: #EAEAEA;
$dust: #EFEFEF;
$light-gray: #999;
$medium-gray: #666;
$silver: #CCC;
$snow: #F7F7F7;
$stone: #E0E0E0;
$alabaster: #FAFAFA;
$white: #FFF;